
.item-main {

  height: 550px;

  .row {
    margin-right:0px;
    margin-left: 0px;
  }


  @media(max-width: 1200px) {

  height: auto;
  }

  .container {

    padding-left: 0px;
    padding-right: 0px;

    @media(max-width: 1200px) {

      width: 100%;
      max-width: 100%;

    }

  }


  .col-md-5 {

    &.image-slider {

      position: relative;

      background-size: cover !important;

      @media (max-width: 1150px) {

        img {
          opacity:0;
        }

      }


      .item-slick-nav {

        position: absolute;
        bottom:0px;
        margin: 0 auto;
        width: 100%;
        text-align:center;
        left:0px;

        ul {
          list-style: none;
          padding-left: 0px;


          li {
            display: inline-block;
            margin: 0px 5px;
            width: 14px;
            height: 14px;
            text-indent: -9999%;
            border: 2px solid #D9DBDB;

            &.slick-active {
              border: 2px solid $white;
              background: $white;
            }

          }

        }


      }


    }

    &.product-info {


      @media(max-width: 800px) {

        webkit-box-flex: 0;
        -ms-flex: 0 0 500px;
        flex: 0 0 500px;
        max-width: 500px;
        margin: 30px auto 0px;
      }

      @media(max-width: 530px) {

        webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 30px auto 0px;
      }


      color:$brown;

      h2 {
        text-transform: uppercase;
        font-size:30px;
        font-weight:400;
        position: relative;

        .badge {
          color:$white;
          background:$brown;
          padding: 3px 5px;
          font-size: 10px;
          border-radius:0px;
          position: absolute;
          top:6px;
          margin-left: 5px;

        }

        @media (max-width:768px) {
          text-align:center;
        }

      }

      .tags {

        margin-bottom:15px;

        span {
          color:#717878;
          background:#F0F2F2;
          text-transform: uppercase;
          font-size: 12px;
          padding: 3px 5px;
          margin-right:5px;
        }

      }

      div {

        &.it-el {

          display: block;
          float: left;
          margin-bottom: 14px;

          @media(max-width: 500px) {

           width: 100%;

          }


          span {
            float: left;
            display: inline-block;
            font-size: 14px;
            text-transform: uppercase;
            width: 200px;
            line-height: 1.2;
            font-weight: 300;

            &:nth-child(2) {
              width: 160px;
            }

            @media(max-width: 500px) {

             width: 50%!important;

            }


            i {
              font-style: normal;
              font-size: 8px;
              position: relative;
              top:-5px;
              left:2px;
            }

            &.black {
              color:#302215;
            }

            &.underline {
              border-bottom: 1px solid #D8D8D8;
              width: 90px;
            }

            .select-box {
              padding:0px;

              a.dropdown-toggle {

                display: inline-block;
                padding:0 15px 0 0;
                height:16px;
                line-height:16px;
                font-size: 14px;
                font-weight:300;
                float: left;
                width: auto;
                margin-top:-2px;
                background: url(../images/dropdown-arrow.svg) no-repeat right center;
                color:black;

                span {
                  width: auto;
                  color: black;
                }

                &:after {
                  display: none;
                }

                &:focus {
                  outline:none;
                  box-shadow: none;
                }

              }

              .dropdown-menu {
                border-radius: 0px;
                border: none;
                box-shadow: 0px 0px 2px #666;
                padding:0;

                li {

                  a {
                    color:black;
                    padding: 5px;
                    display: block;
                    font-size: 14px;

                    &:hover {
                      color:$brown;
                      text-decoration: none;
                    }

                  }

                }


              }

            }

            input {

              border: none;
              height:16px;
              line-height:16px;
              padding:0;

            }

          }

        }

        &.divider {
          display: block;
          float: left;
          height: 3px;
          background: #F0F2F2;
          width: 100%;
          margin-top:5px;
          margin-bottom:12px;
        }

        &.it-el.small {

          span {
            font-size: 9px;
          }

        }

      }

      .price {

        border: 2px solid $brown;
        float: left;
        display: block;
        width: 100%;
        padding: 20px;


        p {

          border-bottom: 3px solid #F0F2F2;
          margin-top:15px;
          float: left;
          width: 100%;
          padding-bottom:7px;

          span {
            width: 50%;
            display: inline-block;
            float: left;

            &.amount {
              font-size: 20px;
              position: relative;
              padding:0;
              margin-top:-6px;

              .old-price {
                font-size: 14px;
                text-decoration: line-through;
                position: absolute;
                top:-20px;
                left: 0px;
                color:#ABB1B1;
              }

            }

          }

        }

        a {
          width: 48%;
          display: inline-block;
          height:35px;
          line-height:35px;
          text-align:center;
          text-transform:uppercase;
          font-size: 12px;

          @media(max-width: 400px) {

         width: 100%;

          }


          i {
            margin-right:7px;
          }

          &.brown {
            background:$brown;
            float: left;
            color:$white;
          }

          &.gray {
            background:#F0F2F2;
            float: right;
            color:$brown;

            @media(max-width: 400px) {

             margin-top: 10px;

            }

          }

        }


      }

    }


    @media(max-width: 1150px) {

      webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;

    }

    @media(max-width: 800px) {

      webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;

    }

  }

  .col-md-2 {

    a.gray {

      height:35px;
      line-height: 35px;
      color:$brown;
      background:#F0F2F2;
      display: inline-block;
      width:160px;
      text-align:center;
      font-size: 13px;
      font-weight: 300;

      i {
        margin-right: 7px;
      }

    }

    @media (max-width: 1150px) {

      webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      padding-top: 50px;
    }

    p {
      color:$brown;
      font-size: 11px;
      margin-top: 15px;
      font-weight:300;
      margin-bottom:5px;
    }

    ul {

      padding-left:0;
      list-style:none;

      li {

        display: inline-block;
        width:32px;
        height:32px;
        background:$white;
        margin-left: 6px;

        &:first-child {
          margin-left:0px;
        }



      }

    }

  }


}