
.slider-wrapper {

  position: relative;

  .slider {
    position: relative;

    .item {
      display: block;
      height: 540px;
      position: relative;
      background-size: cover !important;


      @media (max-width:767px) {
        height:300px;
      }


      div {
        display: table;
        width: 100%;
        height: 100%;
        vertical-align: middle;

        span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 38px;
          color: $white;
          width: 300px !important;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

          @media (max-width:767px) {
            font-size:22px;

          }
        }

      }

    }

    .slick-dots {
      position: absolute;
      bottom: 90px;
      list-style: none;
      text-align: center;
      width: 100%;
      padding: 0 !important;

      @media (max-width:767px) {
        bottom: 20px;
      }


      li {
        text-indent: -9999%;
        background: none;
        border: 3px solid $white;
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0px 5px;

        &.slick-active {
          background: $white;
        }

        @media (max-width:767px) {

         width:10px;
          height:10px;

        }

      }

    }

  }

  .arrow-down {
    display: block;
    width: 50px;
    height: 30px;
    background: url(../images/arrow-down.svg) no-repeat center;
    position: absolute;
    z-index:1;
    left: 50%;
    margin-left:-25px;
    bottom: 40px;

    @media (max-width:767px) {

     bottom:20px;
      background-size: cover;
      width:28px;
      height:14px;
      margin-left: -14px;

    }

  }

}
