.DS_Store
Thumbs.db
*.sql
.gitignore
/.idea/
/sitemap*.xml

/upload/*
bitrix/activities/
bitrix/admin/
bitrix/backup/
bitrix/cache/
bitrix/components/bitrix/
bitrix/css/
bitrix/fonts/
bitrix/gadgets/
bitrix/image_uploader/
bitrix/images/
bitrix/js/
bitrix/managed_cache/
bitrix/modules/
bitrix/panel/
bitrix/php_interface/dbconn.php
bitrix/themes/
bitrix/tools/
bitrix/tmp/
bitrix/wizards/

bitrix/.access.php
bitrix/.settings.php
bitrix/coupon_activation.php
bitrix/footer.php
bitrix/header.php
bitrix/index.php
bitrix/license_key.php
bitrix/p3p.xml
bitrix/rss.php
bitrix/site_checker*.log
bitrix/spread.php
bitrix/urlrewrite.php
bitrix/virtual_file_system.php
bitrix/web.config
bitrix/click.php

bitrix/template/
bitrix/otp/
bitrix/redirect.php
bitrix/rk.php
bitrix/stop_redirect.php